.head{
	height:60px;
	background:white;
}
header{
	height:60px;
	background:white;
	position:fixed;
	width:100%;
	top:0;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
	background:#f3f3f3;
	font-family:Helvetica,Arial,"Lucida Family",Verdana,Tahoma,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
}
i[class^="icon-"]{
	margin-right:5px
}
.nav>li>a{
	padding:20px 30px;
	color:#404040;
}
.nav>li>a:hover{
	background:RGBA(70,130,180,.8);
	color:white;
}

.nav>li>a:focus{
	background:RGBA(70,130,180,.8);
	color:white;
}
div.container{
	width:1000px;
	background:RGBA(0,0,0,0);
	padding:0 15px;
	margin:0 auto;
	margin-top:10px;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
div.nav-wrap{
	width:1000px;
	margin:0 auto;
}
div.content{
	width:694px;
	margin-right:10px;
	display:inline-block;
}
div.recommend{
	width:262px;
	background:white;
	display:inline-block;
	margin-top:10px;
}
h5{
	font-weight:bold;
}
.recommend-list ul{
	list-style:none;
	padding-left:15px;
}
.recommend-list ul li{
	padding:5px 0;
}
.page-item{
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	background: white;
    padding: 10px 20px;
    border-radius: 5px;
	margin-top:10px;
}
.page-title{
    font-weight: bold;
    font-size: 18px;
}
h3{
	font-weight:bold;
}
.page-info{
	font-size: 8px;
    padding: 3px;
}
.page-descript{
	padding:10px 0;
	font-size:14px;
}
.page-descript:hover{
	color:#808080;
	cursor:pointer;
}
.page-descript a{
	color:#ccc
}
.page-foot{
	margin-top:10px
}
button.btn:focus,
button.btn:active{
	outline:0px;
	-webkit-box-shadow: none;
    box-shadow:none
}
button.btn:focus:active{
	outline:0px
}
.btn-great{
	border:0px;
	background:RGBA(45,132,204,.5);
	color:white
}
.btn-great i,
.btn-comments i,
.btn-share i{	
	margin-right:5px;
}
.btn-comments{
	border:0px;
	background:white;
	color:#ccc;
}
.btn-share{
	border:0px;
	background:white;
	color:#ccc;	
}
.btn-great:hover{
	border:0px;
	background:RGBA(45,132,204,.8);
	color:white
}
.tool{
	background:white;
	margin:10px 0;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	background: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.tool-btn{
	font-size:18px;
	display:inline-block;
	padding:10px 0;
	background:none;
	border:0px;
	margin-right:10px;
}
.tool-btn:focus{
	border:0px;
	outline:0px
}
.tool-btn:hover{
	color:steelblue
}
.article{
	background:white;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;	
}
.article-header{
	width:1000px;
	margin:0 auto;
	padding:20px 0;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;	
}
.header-tool .btn{
	margin:10px 0;
	color:RGB(133,144,166)
}
.tag{
	background:rgb(238, 244, 250);
	padding:10px 10px;
	border-radius:10px;
	margin-right:10px;
	font-size:16px
}
.article-title-content{
	width:690px;
	display:inline-block;
}
.article-title-info{
	width:260px;
	display:inline-block;
}
.article-content{
	margin:20px 0
}
.article-content p{
	 text-indent:32px;
	 line-height:28px;
}
@media screen and (max-width:768px){
	div.recommend{
		display:none;
	}
	div.content{
		width:auto;
	}
	div.container{
		width:320px
	}
	#test{
		display:none
	}
}